body {
    height: 100vh;
    margin: 0;
    background-color: black;
}

#container {
    height: 100vh;
    position: absolute;
    display: flex;
    width: 100%;
}

.imageSize{
    
    width: 100%;
    padding: 5px;
   
}

.textImageSize {
    height: 40%;
    width: 45%;
    padding-top: 1%;
    padding-left: 29%;
}

.textSize {
    border: 2px solid white;
    padding-top: 11%;
    padding-bottom: 13%;
    text-align: center;
    color: white;
    height: 1%;
    font-size: 25px;
    
}

.titleText{
    text-align: center;
    padding-top: 3%;
    font-size: 40px;
    color: white;
}

.contentText{
    text-align: center;
    font-size: 27px;
    padding: 1% 17% 0% 17%;
    color: white;
}
#leftIndex{
    float: left;
    height: auto;
    width: 23%;
    background-color: black;
}

#rightContent {
    float: right;
    width: 77%;
    background-color: black;
    display: flex;
    height: auto;
    flex-flow: column;

    background: url("../images/background.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
label {
    color: white;
    font-size: 20px;
}
form {
    margin: 10% 0% 0% 10%;
}
input {
    width: 20%
}
input[type=checkbox] {
    width: auto;
}

